<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="jquery.js"></script>
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    
</head>
<body>
    
    <!-- <div class="container"><img src="Z logo.png" alt="Zeitgeist Logo" width="200" height="300"></div> -->
    <div class="container"><h1>Game Changer</h1></div>
    <!-- <a href="/game">Game</a> -->
    <div class="container">
        <form action="/game" method="get">
            <div>
                <label for="tname">Team Name</label>
                <input type="text" id="tname" name="tname" placeholder="Enter The Name of Your Team" size="30">
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    
</body>
</html>